<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Common.Logging" version="2.0.0" targetFramework="net453" />
  <package id="Octokit" version="0.4.1" targetFramework="net453" />
  <package id="Spring.Rest" version="1.1.0" targetFramework="net453" />
  <package id="Spring.Social.Core" version="1.0.0" targetFramework="net453" />
</packages>